@import "partials/_variables.scss";
@import "partials/_mixins.scss";
@import "partials/_landing-header.scss";
@import "partials/_header.scss";
@import "partials/_footer.scss";
@import "partials/_content.scss";
@import "partials/_animations.scss";
@import "partials/_carousel.scss";

*{
  box-sizing: border-box;
}

body{
  font-family: 'IBM Plex Sans',sans-serif;
  font-size: .8rem;
  display: none;
  line-height: 1.25rem;
  position: relative;
}

h1,h2,h3,h4,h5,h6,p,a,ul,ol,li{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

h1{
  font-weight: 400;
  line-height: 2rem;
  font-size: 2em;
  font-family: "IBM Plex Serif", serif;
  font-style: italic;
  text-align: center;
  // margin-bottom: 30px;
  color: red;
}

h2{
  font-size: 1.25em;
  margin-bottom: 25px;
  font-weight: 900;
  text-align: center;
  color: red;
}

h3{
  font-size: 1em;
  font-weight: 900;
  margin-bottom: 10px;
}

p{
  font-family: 'IBM Plex Serif', serif;
  margin-bottom: 25px;
  text-align: justify;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

a{
  color: red;
  text-decoration: none;
  transition: all .3s ease;
}

a:hover{
  opacity: .8;
}

.spacer{
  border-bottom: 2px solid red;
  margin: 25px auto;
  width: 0;
  animation: spacerexpand 1s .5s ease forwards;
}

.small-spacer{
  border-bottom: 1px solid black;
  width: 50px;
  margin: 25px auto;
}


#myBtn{
  position: fixed;
  z-index: 1;
  bottom:50px;
  right:10%;
  width: 40px;
  height: 40px;
  outline:none;
  border:none;
  background-color: pink;
  color: red;
  cursor: pointer;
  border-radius: 50px;
  transition: transform .3s ease;
  transform: scale(0);
}

#myBtn:hover{
  transform: scale(1.1);
}

::selection {
  background: pink;
}
::-moz-selection {
  background: pink;
}

img{
  image-orientation: from-image;
}

.noclick{
  pointer-events:none;
}

.fade-out-in{
  animation: fadeoutin .65s ease-out;
}

.side-name, .side-title{
  position: fixed;
  top: 25vh;
  height: 50vh;
  z-index: 1;
  color: red;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  -webkit-text-orientation: upright;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: .6rem;
  display: none;
}

.side-name{
  left: 10%;
  transform: translateX(10px);
}

.side-title{
  right:10%;
  transform: translateX(-10px);
}

.fun-button{
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 50px;
  right: 10%;
  z-index: 1;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: pink;
  color: red;
  transition: transform .3s ease;
  font-size:1.25em;
  font-weight: 900;
}

.fun-button:hover{
  transform: scale(1.1);
}

.date{
  position: fixed;
  bottom: 50px;
  left: 10%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
  color: red;
  @include flexcenter;
  width: 40px;
  height: 40px;
}


@media (min-width:1240px) {
  .side-name, .side-title{
    display: block;
  }
}
