footer{
  @include flexcenter;
  flex-direction: column;
  width: 100%;
  color: red;
  font-size: .6em;
  text-transform: uppercase;
  letter-spacing: 2px;

  .footer-text{
    display: flex;

    span{
      margin: 50px 5px 100px;
    }
  }
}
